rules_file:
  - /etc/falco/falco_rules.yaml
  - /etc/falco/falco_rules.local.yaml
  - /etc/falco/rules.d

json_output: true
log_stderr: true
log_level: info
priority: notice

file_output:
  enabled: true
  keep_alive: false
  filename: /var/log/falco/events.json

stdout_output:
  enabled: true

syslog_output:
  enabled: false

webserver:
  enabled: false
